//varibles:

$black:#333333;
$blue:#003DA5;
$yellow:#FEDB00;
$skyblue:#00A3E0;
$white:#FFFFFF;
$grey:#EAEAEA;

//Views:
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700;900&display=swap");
@import "./styleComponents/Home";
@import "./styleComponents/StepsMenu";
@import "./styleComponents/Materials";
@import "./styleComponents/materialCard";
@import "./styleComponents/CreatedTraining";

//General styles:

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.h1-style {
  font-weight: 900;
  font-size: 24px;
  padding-bottom: 30px;
}

.h2-style {
  font-size: 15px;
}

.h3-style{
  font-size: 16px;
  color: $blue;
  font-weight: bold;
  margin-bottom: 5px;
}

.button-general{
  text-decoration: none;
  background-color: transparent;
  border: transparent;
}

.text-selected{
  color: $blue;
}
a{
  text-decoration:none;
}
