body{
    background-image: url('../../images/wallpaper-white.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.unaprueba{
    display: flex;
}
.sidebar{
    color: $white;
    background-color:$blue;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-weight: bolder;
    font-size: 34px;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 6%;
    padding-top: 6%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    box-shadow: 2px 2px 5px #999;
}