.wallpaper{
    background-image: url('../../images/wallpaper-white.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.sidebar{
    color: $white;
    float: left;
    background-color:$blue;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-weight: bolder;
    font-size: 7vh;
    padding-right: 5%;
    padding-left: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-top: 12px;
    margin-bottom: 12px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}