.wallpaper{
    background-image: url('../../images/wallpaper-white.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.sidebar{
    color: $white;
    float: left;
    background-color:$blue;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding: 1%;
    font-weight: bolder;
    font-size: 7vh;
}