.materials{
    display: flex;
    align-items: center;
}
.materials-card{
    margin-left: 8%;
    margin-right: 8%;
    background-color: $white;
    border-radius: 20px;
    display: flex;
}
.materials-card-header{
    display: flex;
    font-size: 12px;
    font-weight: bold;
    justify-content: space-between;
    width: 40%;
    margin: 40px;
}
.materials-card-body{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}
.materials-card-information{
    display: flex;
}
.materials-card-materia-div{
    background-color: $grey;
    width: 57em;
    height: 15em;
    margin-top: 30px;
}
.material-button{
    display: flex;
    width: 13em;
    padding: 5%;
    text-decoration: none;
    background-color: $blue;
    border: transparent;
    color:$white;
    border-radius:5px;
}
.button-material-text{
    margin:auto;
    font-weight: bold;
}