.button-div{
    margin: 10px;
    text-align: center;
}
.home-button{
    border-radius: 8px;
    margin-top: 55px;
    justify-content: center;
    text-decoration: none;
    color: $black;
    background-color: $yellow;
    border: transparent;
    width: 346px;
    height: 90px;
    box-shadow: 2px 2px 5px #999;
    transition: all 1s ease;
}
.home-button:hover{
    background: $skyblue;
    color: $white;
}
.home-header{
    display: -webkit-box;
}
.icon-back{
    text-decoration: none;
    background-color: transparent;
    border: transparent;
}
.home-card{
    margin: auto;
    background-color: $white;
    border-radius: 20px;
    width: 44em;
    height: 32em;
    line-height: 1.3em;
    box-shadow: 2px 2px 5px #999;
}
.home-card-text{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 30px;
    margin-bottom: 0px;
}
.home-back-buttons{
    display: -webkit-box;
    margin-bottom: 15px;
    justify-content: space-between;
    width: 19%;
    font-weight: 700;
}
.home-back-buttons-2-version{
    display: -webkit-box;
    margin-bottom: 15px;
    justify-content: space-between;
    width: 30%;
    font-weight: 700;
}
.big-button-style{
    font-weight: 900;
    font-size: 20px;
}
.home-unique-text{
    margin-left: 10px;
}