.button-div{
    margin: 10px;
    text-align: center;
}
.home-button{
    border-radius: 8px;
    margin-top: 60px;
    padding: 30px;
    justify-content: center;
    text-decoration: none;
    color: $black;
    background-color: $yellow;
    border: transparent;
    width: 346px;
    height: 90px;
}
.home-header{
    display: -webkit-box;
}
.icon-back{
    text-decoration: none;
    background-color: transparent;
    border: transparent;
}
.home-card{
    margin: auto;
    background-color: $white;
    border-radius: 20px;
    width: 44em;
    height: 32em;
    padding: 6px;
    line-height: 1.3em;
}
.home-card-text{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 30px;
    margin-bottom: 0px;
}
.home-back-buttons{
    display:flex;
    margin-bottom: 15px;
}